<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Oglasi.ba{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'music/js/main.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="{% url 'music:index' %}"><img src="../../static/music/images/logoic.png" alt="eyy"></a>
    <ul class="nav navbar-nav">
            <li class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownKategorije" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ☰&nbsp;Kategorije
                    <span class="caret"></span>
                </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownKategorije" >
                {% for kategorij in kategorije %}
                  <li><a href="{% url 'music:get_Kategorija' kategorij %}"> {{ kategorij.title }} </a></li>
                  {% endfor %}
              </ul>
            </li>
        <li class="nav-item">
            <p class="navbar-btn">
                <a href="{% url 'music:napravi_oglas' %}" class="btn btn-success" id="postaviOglas">+ Postavi oglas</a>
            </p>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'music:login_user' %}">Login</a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'music:logout_user' %}">Logout</a>
            </li>
        {% endif %}
        {% if not user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'music:register' %}">Register</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'music:faq' %}">FAQ</a>
        </li>
    </ul>
    </nav>
    <div class="container">
        <form class="form">
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" name="ime" class="form-control" id="text" value="{{ request.GET.ime }}">
                </div>
            </div>
            <div class="col-sm-2">
                <select name="kategorija">
                    <option value="">
                    {% if request.GET.kategorija %}
                        {{ request.GET.kategorija }}
                    {% else %}
                        Izaberite kategoriju
                    {% endif %}
                    </option>
                    {% for kategorija in kategorije %}
                        <option value="{{ kategorija.title }}">{{ kategorija.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </form>
    </div>
</nav>
</div>
<br>
<div class="container">
{% block body %}
{% endblock %}
</div>
<br>
<br>
<div class="container">
    <div class="pagination">
    <span class="step-links">
        {% if oglasi.has_previous %}
            <a href="?{{ page_request_var }}={{ oglasi.previous_page_number }}{% if request.GET.ime %}&ime={{ request.GET.ime }}{% endif %}
                                                                                   {% if request.GET.kategorija %}&kategorija={{ request.GET.kategorija }}{% endif %}
                                                                                   {% if request.GET.cenaOd %}&cenaOd={{ request.GET.cenaOd }}{% endif %}
                                                                                   {% if request.GET.cenaDo %}&cenaDo={{ request.GET.cenaDo }}{% endif %}
                                                                                   {% if request.GET.grad %}&grad={{ request.GET.grad }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ oglasi.number }} of {{ oglasi.paginator.num_pages }}.
        </span>

        {% if oglasi.has_next %}
            <a href="?{{ page_request_var }}={{ oglasi.next_page_number }}{% if request.GET.ime %}&ime={{ request.GET.ime }}{% endif %}
                                                                                   {% if request.GET.kategorija %}&kategorija={{ request.GET.kategorija }}{% endif %}
                                                                                   {% if request.GET.cenaOd %}&cenaOd={{ request.GET.cenaOd }}{% endif %}
                                                                                   {% if request.GET.cenaDo %}&cenaDo={{ request.GET.cenaDo }}{% endif %}
                                                                                   {% if request.GET.grad %}&grad={{ request.GET.grad }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
</div>
<div class="container text-center" id="footer">
<br>
        Ovo je krajnje profesionalan sait
        <br>
        Napravljen sa preciznoscu
</div>
</body>
</html>