{% extends 'music/base.html' %}
{% block oglas_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">
    <div class="kategorije container"></div>

    <!-- Albums -->
    <div class="row">
        <h3> Oglasi korisnika {{ user.username }}</h3>
        {% if oglasi %}
            {% for oglas in oglasi %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail" style="height: 210px">
                        <a href="{% url 'music:detail' oglas.slug %}">
                            <img style="max-height: 100px; min-height: 99px" src="{{ oglas.slike.url }}">
                        </a>
                        {% if oglas.ime_oglasa|length > 24 %}
                            <h4 style="padding-left: 5px; padding-right: 5px">{{ oglas.ime_oglasa|slice:"0:11" }}-</h4>
                            <h4 style="padding-left: 5px; padding-right: 5px">{{ oglas.ime_oglasa|slice:"11:23" }}...</h4>

                        {% elif oglas.ime_oglasa|length > 12%}
                            <h4 style="padding-left: 5px; padding-right: 5px">{{ oglas.ime_oglasa|slice:"0:11" }}-</h4>
                            <h4 style="padding-left: 5px; padding-right: 5px">{{ oglas.ime_oglasa|slice:"11:" }}</h4>
                        {% else %}
                            <h4 style="padding-left: 5px; padding-right: 5px">{{ oglas.ime_oglasa }}</h4>
                            <h4>&nbsp;</h4>
                        {% endif %}

                        <div class="caption" style="padding-top: 0px ">

                            <!-- View Details -->
                            <a href="{% url 'music:detail' oglas.slug %}" class="btn btn-primary btn-sm"  role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'music:izbrisi_oglas' oglas.slug %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="slug" value="{{ oglas.slug }}" />
                                {% if oglas.vlasnik == request.user %} <!--   DUGME ZA BRISANJE SAMO AKO JE USERov OGLAS   -->
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'music:napravi_oglas' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
